version: "1"

services:
  app:
    build: .
    container_name: app
    ports:
      - 8080:8080
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/horizon
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
      - SPRING_MVC_PATHMATCH_MATCHING-STRATEGY=ant_path_matcher
  db:
    image: 'postgres:14.2-alpine'
    container_name: db
    volumes:
      - horizon:/var/lib/postgresql/data
    ports:
      - 5431:5432
    environment:
      - POSTGRES_DB=horizon
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
volumes:
  horizon:
